section.advantages.section-spacing-outer#about-developer
    .container
        .advantages__body
            .advantages__header.section-header
                h2.advantages__title.section-title._reverse
                    span.text-dark.d-block Будівельна компанія
                    span.text-beige.d-block VD Group
                p.advantages__description.section-description Забудовник VD Group не славиться неймовірною кількістю збудованих та зданих будинків, але про відмінну якість будівництва знає вже ледве не кожен франківець

            .advantages__grid
                .advantages__item.advantages-item
                    h3.advantages-item__title Якість
                    p.advantages-item__text.section-text Будівництво відбувається за монолітно-каркасною технологією

                .advantages__item.advantages-item
                    h3.advantages-item__title Практичність
                    p.advantages-item__text.section-text VD Group будує квартири з плануваннями, які повністю орієнтовані на потреби потенційних покупців і забезпечують максимальний комфорт


                .advantages__item.advantages-item
                    h3.advantages-item__title Найкращі локації
                    p.advantages-item__text.section-text Обидва проекти VD Group знаходяться в самому центрі міста, поруч з парками та скверами



