.apartments {
    scroll-margin-top: 100px;
    &__body {
        color: color(dark);
        text-align: center;
    }

    &__title {
        margin: 0 0 20 / 16 * 1rem 0;

        @include media(md) {
            margin: 0 0 30 / 16 * 1rem 0;
        }
    }

    &__sub-title {
        margin: 0 0 20 / 16 * 1rem 0;
        font-size: font-size(h4);
        font-weight: 600;
        @include media(md) {
            margin: 0 0 30 / 16 * 1rem 0;
        }
    }

    &__slider-wrapper {
        //display: inline-block;
    }

    &__btn {
        &._active {
            @extend .btn;
        }

        &._inactive {
            @extend .btn;
            @extend .btn_dark;
            @extend .btn_outlined;
        }

        min-width: 100 / 16 * 1rem !important;
    }

    &__buttons {
        display: inline-grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20 / 16 * 1rem 30 / 16 * 1rem;
        max-width: 430 / 16 * 1rem;
        margin: 0 0 50 / 16 * 1rem 0;

        @include media(sm) {
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 10 / 16 * 1rem;
        }

        @include media(md) {
            margin: 0 0 70 / 16 * 1rem 0;
        }
    }

    &__tab {
        display: none;

        &._active {
            display: block;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        text-align: left;

        &-img {
            position: relative;
            width: 100%;
            padding-bottom: get-proportion(370, 270);
            margin: 0 0 20 / 16 * 1rem 0;

            @include media(md) {
                margin: 0 0 30 / 16 * 1rem 0;
            }

            * {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &-title {
            flex: 1;
            margin: 0 0 15 / 16 * 1rem 0;
            font-size: font-size(body1);
            line-height: get-proportion(18, 28);
            text-transform: uppercase;

            span {
                display: block;

                &:nth-child(1) {
                    font-weight: fw(700);
                }
            }
        }

        &-price {
            margin: 0 0 20 / 16 * 1rem 0;
            font-size: font-size(h3);
            font-weight: fw(700);

            @include media(md) {
                margin: 0 0 40 / 16 * 1rem 0;
            }
        }
    }

    &__pagination {
        position: static;
        margin-top: 30 / 16 * 1rem;

        .swiper-pagination-bullet {
            width: 8 / 16 * 1rem;
            height: 8 / 16 * 1rem;
            background-color: color(dark);
            opacity: 1;

            &-active {
                background-color: color(beige);
            }
        }
    }
}

.swiper-slide {
    height: auto;
}
