section.about.section-spacing-outer#about
    .about__content.section-spacing-inner
        .container
            .about__body
                h2.about__title.section-title
                    span Про
                    span комплекс
                .about__text.section-text
                    div
                        p ЖК Богунська 1 – надійний та якісний будинок, адже збудований за монолітно-каркасною технологією, що передбачає:
                        ul
                            li  квартири без несучих стін
                            li  зміцнений фундамент
                            li  понад 100 років експлуатації
                    div
                        p Новобудова від VDGroup – це спокійна інвестиція, адже будинок буде зданий в IV кварталі 2021 року й не пізніше.
                        p Купити квартиру на вул. Василіянок означає жити в центрі міста поряд із виглядом на парк.

    .about__media
        .about__images
            .about__dots
                picture
                    source(srcset='assets/about/dots.webp' type='image/webp')
                    img(src='assets/about/dots.png' alt='')

            .about__building
                picture
                    source(srcset='assets/about/building.webp' type='image/webp')
                    img(src='assets/about/building.png' alt='')
