.hookup {
    text-align: center;
    scroll-margin-top: 100px;

    &__title {
        margin: 0 0 20 / 16 * 1rem 0;

        @include media(sm) {
            margin: 0 0 30 / 16 * 1rem 0;
        }
    }
}
