section.more.section-spacing-outer#more
    .more__top
        .container
            .section-header
                h2.more__title.section-title._reverse
                    span.text-dark.d-block ЖК Богунська 1 -
                    span.text-beige.d-block більше, ніж просто квадратні метри
            .more__info
                .more__info-img
                    picture
                        source(srcset='assets/more/family.webp' type='image/webp')
                        img(srcset='assets/more/family.png' alt='family')

                .more__info-content.section-description
                    p Нас цінують за відмінну якість та продумані планування. Проте коли ми обираємо квартиру то потребуємо більше, ніж просто квадратні метри.
                    p Ми купуємо наші відчуття, коли прокидаємося щоранку. Ми купуємо можливість, живучи в самому центрі міста щодня гуляти в парку, адже до нього всього декілька хвилин ходьби.
                    p Ми купуємо відчуття безпеки, бо діти можуть гратися подалі від машин, а їх все одно видно з вікна. Ми купуємо затишок, коли кава ще смачніша і пити її можна не поспішаючи, бо до роботи йти всього 10 хвилин.
                    p І всі ці відчуття можна отримати тут - в ЖК Богунська 1.
                    p Хіба не хочеться швидше поринути в цю таку домашню і теплу атмосферу і нарешті відчути себе на всі 100% вдома?

    .more__middle
        .container
            .more__middle-bg
                picture
                    source(srcset='assets/more/bg.webp' type='image/webp')
                    img(srcset='assets/more/bg.png' alt='')

            .more__middle-items

                .more__middle-item
                    .more__middle-item-bg
                        picture
                            source(srcset='assets/more/bg-small.webp' type='image/webp')
                            img(srcset='assets/more/bg-small.png' alt='')
                    .more__middle-item-icon
                        svg(viewBox='0 0 32 32')
                            use(href="assets/sprite/sprite.svg#tools")
                    h3.more__middle-item-title 5 хвилин до сніданку у "Фамілії"


                .more__middle-item
                    .more__middle-item-bg
                        picture
                            source(srcset='assets/more/bg-small.webp' type='image/webp')
                            img(srcset='assets/more/bg-small.png' alt='')
                    .more__middle-item-icon
                        svg(viewBox='0 0 32 32')
                            use(href="assets/sprite/sprite.svg#tools")
                    h3.more__middle-item-title 10 хвилин до роботи


                .more__middle-item
                    .more__middle-item-bg
                        picture
                            source(srcset='assets/more/bg-small.webp' type='image/webp')
                            img(srcset='assets/more/bg-small.png' alt='')
                    .more__middle-item-icon
                        svg(viewBox='0 0 32 32')
                            use(href="assets/sprite/sprite.svg#tools")
                    h3.more__middle-item-title 3 хвилини до стометрівки


                .more__middle-item
                    .more__middle-item-bg
                        picture
                            source(srcset='assets/more/bg-small.webp' type='image/webp')
                            img(srcset='assets/more/bg-small.png' alt='')
                    .more__middle-item-icon
                        svg(viewBox='0 0 32 32')
                            use(href="assets/sprite/sprite.svg#tools")
                    h3.more__middle-item-title 2 хвилини до найближчого магазину


                .more__middle-item
                    .more__middle-item-bg
                        picture
                            source(srcset='assets/more/bg-small.webp' type='image/webp')
                            img(srcset='assets/more/bg-small.png' alt='')
                    .more__middle-item-icon
                        svg(viewBox='0 0 32 32')
                            use(href="assets/sprite/sprite.svg#tools")
                    h3.more__middle-item-title 30% більше задоволення від ранкової кави


                .more__middle-item
                    .more__middle-item-bg
                        picture
                            source(srcset='assets/more/bg-small.webp' type='image/webp')
                            img(srcset='assets/more/bg-small.png' alt='')
                    .more__middle-item-icon
                        svg(viewBox='0 0 32 32')
                            use(href="assets/sprite/sprite.svg#tools")
                    h3.more__middle-item-title на 63% приємніше дивитися на ранкове місто - прямо під вікнами парк


                .more__middle-item
                    .more__middle-item-bg
                        picture
                            source(srcset='assets/more/bg-small.webp' type='image/webp')
                            img(srcset='assets/more/bg-small.png' alt='')
                    .more__middle-item-icon
                        svg(viewBox='0 0 32 32')
                            use(href="assets/sprite/sprite.svg#tools")
                    h3.more__middle-item-title на 56% більше затишку вдома

                .more__middle-item
                    .more__middle-item-bg
                        picture
                            source(srcset='assets/more/bg-small.webp' type='image/webp')
                            img(srcset='assets/more/bg-small.png' alt='')
                    .more__middle-item-icon
                        svg(viewBox='0 0 32 32')
                            use(href="assets/sprite/sprite.svg#tools")
                    h3.more__middle-item-title на 44% більше щирих посмішок рідних - їм добре саме тут і з Вами

                .more__middle-item
                    .more__middle-item-bg
                        picture
                            source(srcset='assets/more/bg-small.webp' type='image/webp')
                            img(srcset='assets/more/bg-small.png' alt='')
                    .more__middle-item-icon
                        svg(viewBox='0 0 32 32')
                            use(href="assets/sprite/sprite.svg#tools")
                    h3.more__middle-item-title на 37% чистіше повітря - ще одна перевага жити біля самого парку
