.cookies#cookies
    .cookies__content
        .cookies__title
            | &#127850; Ми використовуємо ваші Cookies
        .cookies__text Ми використовуємо ваші файли Cookies для того, щоб адаптувати наш сайт для вас найкращим чином
        button.cookies__btn.btn#cookies-accept Добре
