.address
    .address__map
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2621.259472714858!2d24.710557115895796!3d48.92949950365095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4730c10c55056bed%3A0x41b7f715a3929ffc!2sBohuns'ka%20St%2C%201%2C%20Ivano-Frankivs'k%2C%20Ivano-Frankivs'ka%20oblast%2C%2076000!5e0!3m2!1sen!2sua!4v1635163957071!5m2!1sen!2sua" style='border:0;' allowfullscreen='' loading='lazy')

    .container
        .address__body
            .address__content
                address.address__main
                    a(href='https://goo.gl/maps/cLGG7P4padVxBhQ38' target='_blank')
                        span м. Івано -Франківськ,
                        span вул. Богунська, 1

                    a(href='tel:+380953508797') + 380 95 350 87 97

                    p Пн-Нд: 08:00 - 20:00
