section.installments.section-spacing-outer.section-spacing-inner#installments
    picture.installments__bg
        source(srcset='assets/installments/bg.webp' type='image/webp')
        img(src='assets/installments/bg.png' alt='')
    .container
        .installments__body
            .installments__header.section-header
                h2.installments__title.section-title Розтермінування
                p.installments__description.section-description Купіть квартиру з економією понад 100 000 гривень за допомогою розтермінування.

            .installments__grid

                .installments__item.installments-item
                    .installments-item__icon
                        svg(viewBox='0 0 32 32')
                            use(href="assets/sprite/sprite.svg#tools")
                    h3.installments-item__title Без відсотків
                    p.installments-item__text.section-text Іпотека стартує з процентною ставкою у 18%. А ми пропонуємо щомісячні внески без жодних відсотків

                .installments__item.installments-item
                    .installments-item__icon
                        svg(viewBox='0 0 32 32')
                            use(href="assets/sprite/sprite.svg#tools")
                    h3.installments-item__title До 1 року
                    p.installments-item__text.section-text Комфортна покупка – виплачуй гроші за квартиру на протязі року

                .installments__item.installments-item
                    .installments-item__icon
                        svg(viewBox='0 0 32 32')
                            use(href="assets/sprite/sprite.svg#tools")
                    h3.installments-item__title Дострокове погашення
                    p.installments-item__text.section-text Ви можете за кілька місяців придбати квартиру з усіма установчими документами й користуватися нею одразу після здачі ЖК

                .installments__item.installments-item
                    .installments-item__icon
                        svg(viewBox='0 0 32 32')
                            use(href="assets/sprite/sprite.svg#tools")
                    h3.installments-item__title Широкий вибір
                    p.installments-item__text.section-text На цьому етапі у вас є можливість придбати квартиру за всіма побажаннями щодо поверху та квадратури

            a.installments__button.btn(href='#' data-modal-open='form-modal') Підібрати квартиру
