section.advantages.section-spacing-outer
    .container
        .advantages__body
            .advantages__header.section-header
                h2.advantages__title.section-title Переваги
                //p.advantages__description.section-description Reprehenderit esse labore id veniam ut veniam non ex adipisicing amet ullamco dolor proident. Exercitation velit ea incididunt sit qui do ipsum fugiat laboris minim

            .advantages__grid
                .advantages__item.advantages-item
                    .advantages-item__icon
                        svg(viewBox='0 0 32 32')
                            use(href="assets/sprite/sprite.svg#tools")
                    h3.advantages-item__title Будинок преміум-класу
                    p.advantages-item__text.section-text Втілений індивідуальний проєкт, з просторими плануваннями та розвиненою інфраструктурою

                .advantages__item.advantages-item
                    .advantages-item__icon
                        svg(viewBox='0 0 32 32')
                            use(href="assets/sprite/sprite.svg#tools")
                    h3.advantages-item__title Затишний двір без авто
                    p.advantages-item__text.section-text Підземний паркінг надає змогу очистити двір від автомобілів, що псують естетичний вигляд будинку та заважають мешканцям

                .advantages__item.advantages-item
                    .advantages-item__icon
                        svg(viewBox='0 0 32 32')
                            use(href="assets/sprite/sprite.svg#tools")
                    h3.advantages-item__title Консьєрж-сервіс
                    p.advantages-item__text.section-text Професійна команда консьєржів потурбується про контроль та лад у будинку, доставку товарів та стануть правою рукою для всіх мешканців комплексу

                .advantages__item.advantages-item
                    .advantages-item__icon
                        svg(viewBox='0 0 32 32')
                            use(href="assets/sprite/sprite.svg#tools")
                    h3.advantages-item__title Вражаючий краєвид
                    p.advantages-item__text.section-text Квартира в ЖК Богунська – це панорамний краєвид із вікна на парк Воїнів-інтернаціоналістів, що змушує розкривати штори частіше

