section.buy.section-spacing-outer#invest
    .buy__top
        .container
            .buy__info
                h2.buy__info-title.section-title._reverse(data-move='768,.invest__info-content,first,min')
                    span.text-dark.d-block Купити квартиру та
                    span.text-beige.d-block здавати її в оренду
                .buy__info-img
                    picture
                        source(srcset='assets/buy/img.webp' type='image/webp')
                        img(srcset='assets/buy/img.png' alt='')

                .buy__info-content.invest__info-content
                    .buy__info-text.section-description
                        p Купити новобудову в Івано-Франківську для здачі в оренду – вигідна інвестиція, з якою ви завжди матимете додатний баланс коштів. Попри те, що коливаються ціни на нерухомість. Адже ЖК Богунська – це комплекс преміум-класу, що розташовується в центрі міста і ви зможете здавати квартиру подобово щодня
                        p Такий тип вкладення доступний навіть тим, хто не має досвіду в інвестиціях. Зробіть вашу першу спробу й через декілька років у вас з’явиться привабливий бізнес із пасивним доходом


    .buy__middle
        .container
            .buy__middle-bg
                picture
                    source(srcset='assets/buy/bg.webp' type='image/webp')
                    img(srcset='assets/buy/bg.png' alt='')
            .buy__middle-slider.swiper
                .swiper-wrapper

                    .swiper-slide
                        .buy__middle-item
                            .buy__middle-item-icon
                                svg(viewBox='0 0 32 32')
                                    use(href="assets/sprite/sprite.svg#tools")
                            h3.buy__middle-item-title Ремонт – 5 600 $
                            p.buy__middle-item-text Забудовник VD Group підготував квартиру, повністю готову для ремонту, тому економія починається вже з цього етапу

                    .swiper-slide
                        .buy__middle-item
                            .buy__middle-item-icon
                                svg(viewBox='0 0 32 32')
                                    use(href="assets/sprite/sprite.svg#tools")
                            h3.buy__middle-item-title Техніка  – 1 500 $
                            p.buy__middle-item-text У квартирі преміум-класу краще пасуватиме якісна техніка, яка довше прослужить

                    .swiper-slide
                        .buy__middle-item
                            .buy__middle-item-icon
                                svg(viewBox='0 0 32 32')
                                    use(href="assets/sprite/sprite.svg#tools")
                            h3.buy__middle-item-title Меблі – 1 500 $
                            p.buy__middle-item-text Ми підібрали ціни на меблі з високоякісних матеріалів для сучасних потреб

                    .swiper-slide
                        .buy__middle-item
                            .buy__middle-item-icon
                                svg(viewBox='0 0 32 32')
                                    use(href="assets/sprite/sprite.svg#tools")
                            h3.buy__middle-item-title Підсумовуємо вартість – 36 900 $
                            p.buy__middle-item-text Ціна вказана за однокімнатну квартиру площею 37,7 м2 вартістю 28 300$. Про те, ви можете обрати іншу площу

                    .swiper-slide
                        .buy__middle-item
                            .buy__middle-item-icon
                                svg(viewBox='0 0 32 32')
                                    use(href="assets/sprite/sprite.svg#tools")
                            h3.buy__middle-item-title За таку квартиру платитимуть у місяць ~ 300 $
                            p.buy__middle-item-text Купити квартиру в житловому комплексі Богунська вигідно!

                    .swiper-slide
                        .buy__middle-item
                            .buy__middle-item-icon
                                svg(viewBox='0 0 32 32')
                                    use(href="assets/sprite/sprite.svg#tools")
                            h3.buy__middle-item-title Окупність інвестиції
                            p.buy__middle-item-text Вже через 10 років та пару місяців квартира повністю окупить інвестовані в неї гроші




                .buy__middle-pagination.swiper-pagination
            a.buy__middle-cta.btn.btn_light(href='#' data-modal-open='form-modal') Підібрати квартиру

    //.buy__bottom.section-spacing-inner#offer
    //    .container
    //        .buy__bottom-content
    //            h2.buy__bottom-title.section-title Акція
    //            p.buy__bottom-text.section-text Lorem quis sunt magna dolor consectetur aliqua officia laborum reprehenderit
    //            p.buy__bottom-subtitle ЦІНА 11 000 ГРН/M2
    //            .buy__bottom-cta-wrapper
    //                a.buy__bottom-cta.btn.btn_light(href='#') Отримати пропозицію
