footer.footer
    .container
        .footer__body
            nav.footer__nav
                a.footer__nav-link(href='#about') Про комплекс
                    a.footer__nav-link(href='#gallery') Фото
                    a.footer__nav-link(href='#apartments') Квартири
                    a.footer__nav-link(href='#apartments') Ціни
                    a.footer__nav-link(href='#installments') Розтермінування
                    a.footer__nav-link(href='#invest') Інвестувати
                    a.footer__nav-link(href='#hookup') Контакти
            nav.footer__social
                a.footer__sofial-link(href='https://www.facebook.com/vdgroup.if')
                    svg(viewBox='0 0 32 32')
                        use(href="assets/sprite/sprite.svg#fb")
                a.footer__sofial-link(href='https://www.instagram.com/vdgroup.if/')
                    svg(viewBox='0 0 32 32')
                        use(href="assets/sprite/sprite.svg#ig")
