section.showcase
    .container
        .showcase__body
            .showcase__content
                h1.showcase__title ЖК Богунська 1 від VD Group
                p.showcase__text Квартира в ЖК Богунська 1 – преміум-клас для сучасних сімей.
                a.showcase__button.btn(href='#' data-modal-open='form-modal') Запис на перегляд

            .showcase__media
                picture
                    source(srcset='assets/showcase/bg.webp' type='image/webp')
                    img(src='assets/showcase/bg.png' alt='bg')
